body {
	color:#4D4D4F;
	font-size:12px;
	font-family:Arial;
	background:url(../img/background.png);
	margin:0px;
}
a:link, a:visited {
	color:#114B9A;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.float_right {
	float:right;
}
.clear {
	clear:both;
}
.align_right{
	text-align:right;
}
#site {
	width:900px;
	margin:0px auto;
}
#header {
	margin: 10px 0px;
	height:50px;
}
#header ul {
	margin:5px 0px;
	float:right;
}
#header ul li {
	list-style:none;
	float:left;
	padding:7px;
}
#header a.navLnk {
	text-decoration:none;
	font-weight:bold;
	color:#4D4D4F;
	display:block;
	padding:5px 10px;
}
#header a.navLnk:hover {
	text-decoration:underline;
}
#logo {
	background:no-repeat url(../img/logo.png);
	height:40px;
	width:142px;
	display:block;
	margin:5px;
	float:left;
}
#topBanner {
	width:100%;
	height:300px;
	margin-bottom:20px;
	-moz-box-shadow: 0 0 10px 1px #bbb;
	-webkit-box-shadow: 0 0 10px 1px #bbb;
	box-shadow: 0 0 10px 1px #bbb;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:#11A4C5;
	background-image: linear-gradient(bottom, #11A4C5 34%, #1E6BA2 84%);
	background-image: -o-linear-gradient(bottom, #11A4C5 34%, #1E6BA2 84%);
	background-image: -moz-linear-gradient(bottom, #11A4C5 34%, #1E6BA2 84%);
	background-image: -webkit-linear-gradient(bottom, #11A4C5 34%, #1E6BA2 84%);
	background-image: -ms-linear-gradient(bottom, #11A4C5 34%, #1E6BA2 84%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.34, #11A4C5),
		color-stop(0.84, #1E6BA2)
	);
}
#topBanner .content {
	width: 410px;
	padding: 30px 50px;
}
#promo {
	float: right;
	margin: 20px;
}
#download {
	width: 172px;
	margin: 30px auto;
}
#topBanner h3, #content .wrapper h3 {
	color: white;
	font-size: 24px;
	font-family: Helvetica;
}
#topBanner p {
	color: #EBEBEC;
	font-weight: bold;
	font-family: Helvetica;
	font-style: italic;
}
#main {
	width:100%;
	min-height:300px;
	margin-bottom:20px;
	-moz-box-shadow: 0 0 10px 1px #bbb;
	-webkit-box-shadow: 0 0 10px 1px #bbb;
	box-shadow: 0 0 10px 1px #bbb;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:white;
}
#content {
	padding:20px 50px;
}
#content h2 {
	color:#01A5C5;
	font-size:20px;
}
#content h3 {
	color:#000;
	font-size:18px;
}
#content ul {
	margin:0px 0px 0px 20px;
	padding:0px;
}
#content li {
	list-style-image: url(../img/bullet.png);
	padding:5px;
}
.topSeperator {
	width:100%;
	height:1px;
	background-color:#ccc;
	margin:0px auto;
	clear:both;
}
.seperator {
	width:700px;
	height:1px;
	background-color:#ccc;
	margin:0px auto;
	clear:both;
}
.feature {
	color:#666;
	width:700px;
	margin:0px auto;
	height:200px;
}
.feature .twoCol {
	width:310px;
	float:left;
	padding:20px;
	text-align:center;
}
.feature .twoCol .txt {
	text-align:left;
	width:300px;
}
#footer {
	color:#999;
}
#footer a {
	text-decoration:none;
	font-weight:bold;
	display:block;
	color:#4D4D4F;
	float:left;
	padding:3px 10px;
	margin-bottom:40px;
}
